@import "./pages.scss";

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-fond-primary:rgb(246, 246, 246);
$color-fond-secondary:rgb(234, 234, 234);
$color-degrad:linear-gradient(to bottom, $color-secondary, $color-primary);
$color: #d06adb;
@mixin anim_coeur 
{
    .coeur_titre
    {
       font-size: 1.1em;
       display: grid;
       justify-content: center;
       align-items: center;
       &__icone {
          color: black;
          margin-left: 20px;
          display: flex;
          font-size: 1.6em;
       &:hover .plein{
              animation: coeur2 1s ease-in-out 400ms  both;
              background: $color-degrad;
              background-clip: text;
              -webkit-background-clip: text;
              font-weight: 600;
              color: transparent;
        }
        }
       .vide{
              color: black;
              z-index: 1;           
            }                          
          .plein  {
              position: absolute;
              z-index: 2;
           }
  }
     
}


@function pastel($clr) {
    $hue: hue($clr);
    $sat: 90%;
    $light: 95%;
    $pastel: hsl($hue, $sat, $light);

    @return $pastel;
} 
/*haut de page*/
body
{
    margin: 0px;
}
a 
{
    text-decoration: none;
    color: black;
    display: contents;
}
.logo
{
    display: flex;
    justify-content: center;
    padding: 10px;
    img{
        width: 30%;
    }
}
/* Barre de Recherche */
form
{
    display: flex;
    justify-content: center;
    background-color: $color-fond-secondary;
    padding: 10px;

    input{
        border: none;
        background-color: $color-fond-secondary;
    }
}
/* Titre */

.bloc_titre
{
    background-color:$color-fond-primary;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
  
    button{
        border-radius: 25px;
        background-image: $color-degrad;
        border:none;
        padding: 10px;
        color: white;
    }
}
h1, p 
{
    display: grid;
    justify-content: center;
    grid-template-columns: 70%;
    margin: 0px;
    padding: 10px;
}
/* Navigation */
    
.fonctionement
{
    padding: 15px;
    nav li{
        display: grid;
        grid-template-columns: 30px 30px 1fr;
        background-color: $color-fond-primary;
        border-radius: 15px;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        list-style-type: none;
	    counter-increment: fonction; // on incrémente le compteur à chaque nouveau li 
	    margin-bottom: 10px;
    }
    nav li::before {
	    content: counter(fonction); //on affiche le compteur 
    	padding: 10px;
	    background:$color-primary;
	    border-radius: 80px;
	    font-weight: bold;
	    font-size: 0.8em;
	    color: white;	
        position: relative;
        right: 10px;	
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        height: 10px;
    }
    nav li a{
        text-decoration: none;
        color: black;
        display: contents;
    }
    nav ol{
        gap: 10px;
        display: grid;
        padding: 15px;
        counter-reset: fonction;
    }
    nav li:hover{
        background-color: pastel($color-primary);
    }
}
/* Restaurants */

.conteneur_restaurants
{
    display: grid;
    background-color:$color-fond-primary;
    padding: 0px 15px 50px 15px;
    .bloc_restaurants{
        display: grid;
        gap: 15px;
    }
    article{
        display: grid;
        background-color: white;
        grid-template-rows: 0fr 0fr;
        box-shadow: 15px 15px 15px rgb(219, 218, 218);
        border-radius: 15px;
    }
    img{
        object-fit: cover;
        width:100% ;
        height: 150px;
        border-radius: 15px 15px 0px 0px;
    }
}
.carte_texte
{
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    h3, span{
        margin: 0px;
    }
}
@keyframes coeur2 {
    0% {
        transform: scale(.1);
        
   }
    100% {
       
        transform: scale(1);
    }
  }
  .coeur
  {
     font-size: 1.1em;
     display: grid;
     justify-content: center;
     align-items: center;
     &__icone {
        color: black;
        margin-left: 20px;
        display: flex;
        font-size: 1.6em;
     &:hover .plein{
            animation: coeur2 600ms linear  alternate both ;
            background: $color-degrad;
            background-clip: text;
            -webkit-background-clip: text;
            font-weight: 600;
            color: transparent;
          
      }
      }
     .vide{
            color: black;
            z-index: 1;    
            cursor: pointer;       
          }                          
        .plein  {
            position: absolute;
            z-index: 2;
            cursor: pointer;   
         }
}
 

 /* Pied de page */
footer
{
    background-color: rgb(39, 38, 38);
    color:white;
    padding: 20px;
    
    li{
        display: grid;
        grid-template-columns: 25px 1fr ;
    }
    ul{
        padding: 0px;
    }
    a{
        color: white;
    }
}
/* media tablette */
@media  screen and (min-width:600px) 
{
    .bloc_restaurants{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    footer ul{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    } 
    .fonctionement nav ol{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }  
}
@media screen and (min-width: 1200px){
    .bloc_restaurants{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} 