@charset "UTF-8";
@font-face {
  font-family: shrikhand;
  src: url(/font/Shrikhand/Shrikhand-Regular.otf);
}
@font-face {
  font-family: roboto;
  src: url(/font/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(/font/Roboto/Roboto-Bold.ttf);
}
footer h2 {
  font-family: "shrikhand", sans-serif;
}

span, p {
  font-family: "roboto";
  font-weight: lighter;
}

h3 {
  font-family: "roboto-bold";
}

@-webkit-keyframes coeur2 {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes coeur2 {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes anim_menu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes anim_menu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes anim_carte {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes anim_carte {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
/* Haut de page */
body {
  margin: 0px;
  padding: 0px;
}
body a {
  text-decoration: none;
  color: black;
  display: contents;
}

.header_page {
  display: grid;
  grid-template-columns: 0fr 1fr;
  justify-content: center;
  align-items: center;
}
.header_page .retour {
  font-size: x-large;
  color: black;
  padding: 15px;
}
.header_page .logo {
  display: flex;
  justify-content: center;
  margin-right: 35px;
}
.header_page .logo img {
  width: 45%;
}

/* Banniere */
.banniere img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Carte des menu */
.conteneur_menu {
  background-color: #f6f6f6;
  padding: 15px;
  position: relative;
  margin-top: -30px;
  border-radius: 15px;
}
.conteneur_menu .titre_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "shrikhand";
}

.coeur__titre {
  color: black;
  margin-left: 20px;
  display: grid;
  font-size: 1.6em;
}
.coeur__titre .vide {
  color: black;
}
.coeur__titre .plein {
  position: absolute;
}
.coeur__titre:hover .plein {
  -webkit-animation: coeur2 600ms ease-in both;
          animation: coeur2 600ms ease-in both;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  color: transparent;
}

.carte {
  -webkit-animation: anim_menu 1s linear both;
          animation: anim_menu 1s linear both;
}
.carte .carte__menu {
  background-color: #f6f6f6;
  display: grid;
  gap: 15px;
  padding: 15px;
  border-radius: 25px 25px 0px 0px;
}
.carte .carte__titre {
  border-bottom: 2px solid #99e2d0;
  width: 40px;
}

.carte article {
  display: grid;
  grid-template-columns: 1fr 0.1fr 0fr;
  padding: 0px;
  background-color: white;
  border-radius: 15px;
  transform: scale(0);
  -webkit-animation: anim_carte 1s linear 1s both;
          animation: anim_carte 1s linear 1s both;
  margin: 0px;
  /*.carte__validation {
      display: grid;
      grid-column: span 1;
      align-items: center;
      justify-content: center;
      background-color: $color-tertiary;
      border-radius: 0px 15px 15px 0px;
      width: 0px;
      transition: all 400ms linear 400ms;
      .icone__validation {
          color: transparent;
          font-size: 20px;
          transition: all 400ms linear 400ms;
      }


  }*/
}
.carte article .carte__validation {
  display: flex;
  grid-column: span 1;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  transition: all 400ms linear 400ms;
}
.carte article .carte__validation .icone__validation {
  color: transparent;
  font-size: 20px;
  transition: all 400ms linear 400ms;
}
.carte article:hover .carte__validation {
  width: 80px;
}
.carte article:hover .carte__validation .icone__validation {
  transform: rotateZ(360deg);
  color: white;
  transition: all 400ms linear 400ms;
}
.carte article .carte__texte {
  overflow: hidden;
  padding: 10px;
}
.carte article .carte__texte h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}
.carte article .carte__texte p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}
.carte article .carte__prix {
  display: flex;
  align-self: flex-end;
  padding-left: 5px;
  padding-bottom: 10px;
}

/* Boutton commander */
.boutton {
  display: flex;
  justify-content: center;
}
.boutton button {
  border-radius: 25px;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  opacity: 0.8;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

/* pied de page */
footer {
  background-color: #272626;
  color: white;
  padding: 20px;
}
footer li {
  display: grid;
  grid-template-columns: 25px 1fr;
}
footer ul {
  padding: 0px;
}
footer a {
  color: white;
}

/*media tablette*/
@media screen and (min-width: 600px) {
  .boutton {
    grid-column: 2;
    justify-content: center;
    display: grid;
  }

  .carte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 15px;
  }

  .carte__titre {
    height: 20px;
  }

  .carte__menu {
    align-content: flex-start;
  }

  .conteneur_menu {
    border-radius: 15px 15px 0px 0px;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fonctionement nav ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
@font-face {
  font-family: shrikhand;
  src: url(/font/Shrikhand/Shrikhand-Regular.otf);
}
@font-face {
  font-family: roboto;
  src: url(/font/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(/font/Roboto/Roboto-Bold.ttf);
}
footer h2 {
  font-family: "shrikhand", sans-serif;
}

span, p {
  font-family: "roboto";
  font-weight: lighter;
}

h2, h3 {
  font-family: "roboto-bold";
}

/*haut de page*/
body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  display: contents;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.logo img {
  width: 40%;
}

/* Barre de Recherche */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 10px;
  border-top: 1px inset #ffffff;
}
form label {
  font-size: small;
  margin-right: 10px;
}
form input {
  border: none;
  background-color: transparent;
}
form input ::-moz-placeholder {
  color: black;
}
form input :-ms-input-placeholder {
  color: black;
}
form input ::placeholder {
  color: black;
}

/* Titre */
.bloc_titre {
  background-color: #f6f6f6;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}
.bloc_titre button {
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  padding: 10px;
  color: white;
  margin-top: 15px;
  font-weight: bold;
}

h1, p {
  display: grid;
  justify-content: center;
  grid-template-columns: 70%;
}

/* Navigation */
.fonctionement {
  padding: 15px;
}
.fonctionement nav li {
  display: grid;
  grid-template-columns: 30px 30px 1fr;
  background-color: #f6f6f6;
  border-radius: 15px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
  counter-increment: fonction;
  margin-bottom: 10px;
}
.fonctionement nav li::before {
  content: counter(fonction);
  padding: 10px;
  background: #9356DC;
  border-radius: 80px;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  position: relative;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
}
.fonctionement nav li a {
  text-decoration: none;
  color: black;
  display: contents;
}
.fonctionement nav ol {
  gap: 10px;
  display: grid;
  padding: 15px;
  counter-reset: fonction;
}
.fonctionement nav li:hover {
  background-color: #f1e7fe;
}

/* Restaurants */
.conteneur_restaurants {
  display: grid;
  background-color: #f6f6f6;
  padding: 0px 15px 50px 15px;
}
.conteneur_restaurants .bloc_restaurants {
  display: grid;
  gap: 15px;
}
.conteneur_restaurants article {
  display: grid;
  background-color: white;
  grid-template-rows: 0fr 0fr;
  box-shadow: 15px 15px 15px #dbdada;
  border-radius: 15px;
}
.conteneur_restaurants img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
}
.conteneur_restaurants .etiquette_nouveau {
  background-color: #99E2D0;
  color: white;
  position: absolute;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
}

.carte_texte {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}
.carte_texte h3, .carte_texte span {
  margin: 0px;
}

@keyframes coeur2 {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.coeur {
  font-size: 1.1em;
  display: grid;
  justify-content: center;
  align-items: center;
}
.coeur__icone {
  color: black;
  margin-left: 20px;
  display: flex;
  font-size: 1.6em;
}
.coeur__icone:hover .plein {
  -webkit-animation: coeur2 600ms linear alternate both;
          animation: coeur2 600ms linear alternate both;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  color: transparent;
}
.coeur .vide {
  color: black;
  z-index: 1;
  cursor: pointer;
}
.coeur .plein {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

/* Pied de page */
footer {
  background-color: #272626;
  color: white;
  padding: 20px;
}
footer li {
  display: grid;
  grid-template-columns: 25px 1fr;
}
footer ul {
  padding: 0px;
}
footer a {
  color: white;
}

/* media tablette */
@media screen and (min-width: 600px) {
  .bloc_restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fonctionement nav ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .bloc_restaurants {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* Chargement Page Principale */
.animation__loading__container {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: cssAnimation 0s 1s forwards;
          animation: cssAnimation 0s 1s forwards;
  visibility: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 0.8;
  z-index: 15;
}

/* Logo OhMyFood centré */
.animation__loading__container--logospinner {
  font-size: 1.8rem;
  font-family: "shrikhand";
  color: black;
  position: absolute;
}

/* Animation sous forme de lignes circulaires */
/* Ligne circulaire violette */
.animation__loading__container--spinner {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px double #9356DC;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.animation__loading__container--spinner::before,
.animation__loading__container--spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
}

/* Ligne circulaire rose */
.animation__loading__container--spinner::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #FF79DA;
  -webkit-animation: spin 1.8s linear infinite;
          animation: spin 1.8s linear infinite;
}

/* Ligne circulaire vert clair */
.animation__loading__container--spinner::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #99E2D0;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes cssAnimation {
  to {
    visibility: hidden;
    display: none;
  }
}

@keyframes cssAnimation {
  to {
    visibility: hidden;
    display: none;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes anim_logo {
  from {
    transform: rotate(10deg) skewX(50deg);
    color: #d06adb;
  }
  to {
    transform: rotate(-10deg);
  }
}
@keyframes anim_logo {
  from {
    transform: rotate(10deg) skewX(50deg);
    color: #d06adb;
  }
  to {
    transform: rotate(-10deg);
  }
}/*# sourceMappingURL=main.css.map */