@-webkit-keyframes coeur2 {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes coeur2 {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
/* Haut de page */
body {
  margin: 0px;
  padding: 0px;
}
body a {
  text-decoration: none;
  color: black;
  display: contents;
}

.header_page {
  display: grid;
  grid-template-columns: 0fr 1fr;
  justify-content: center;
  align-items: center;
}
.header_page .retour {
  font-size: x-large;
  color: black;
  padding: 15px;
}
.header_page .logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.header_page .logo img {
  width: 30%;
}

/* Banniere */
.banniere img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Carte des menu */
@-webkit-keyframes anime_page_menu {
  0% {
    margin-top: -30px;
  }
  33% {
    margin-top: -50px;
  }
  66% {
    margin-top: -70px;
  }
  100% {
    margin-top: -90px;
  }
}
@keyframes anime_page_menu {
  0% {
    margin-top: -30px;
  }
  33% {
    margin-top: -50px;
  }
  66% {
    margin-top: -70px;
  }
  100% {
    margin-top: -90px;
  }
}
@-webkit-keyframes anim_menu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes anim_menu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes anim_carte {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes anim_carte {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.conteneur_menu {
  background-color: #f6f6f6;
  padding: 15px;
  position: relative;
  margin-top: -30px;
  border-radius: 15px;
}
.conteneur_menu .titre_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coeur__titre {
  color: black;
  margin-left: 20px;
  display: grid;
  font-size: 1.6em;
}
.coeur__titre .vide {
  color: black;
}
.coeur__titre .plein {
  position: absolute;
}
.coeur__titre:hover .plein {
  -webkit-animation: coeur2 1s ease-in-out 400ms both;
          animation: coeur2 1s ease-in-out 400ms both;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  color: transparent;
}

.carte {
  -webkit-animation: anim_menu 1s linear both;
          animation: anim_menu 1s linear both;
}
.carte .carte__menu {
  background-color: #f6f6f6;
  display: grid;
  gap: 15px;
  padding: 15px;
  border-radius: 25px 25px 0px 0px;
}
.carte .carte__titre {
  border-bottom: 2px solid #99e2d0;
  width: 40px;
}

.carte article {
  display: grid;
  grid-template-columns: 1fr 0.1fr 0fr;
  padding: 0px;
  background-color: white;
  border-radius: 15px;
  transform: scale(0);
  -webkit-animation: anim_carte 1s linear 1s both;
          animation: anim_carte 1s linear 1s both;
  margin: 0px;
}
.carte article .carte__texte {
  overflow: hidden;
  padding: 10px;
}
.carte article .carte__texte h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}
.carte article .carte__texte p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}
.carte article .carte__prix {
  display: flex;
  align-self: flex-end;
  padding-left: 5px;
  padding-bottom: 10px;
}
.carte article .carte__validation {
  display: grid;
  grid-column: span 1;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  transition: all 400ms linear 400ms;
}
.carte article .carte__validation .icone__validation {
  color: transparent;
  font-size: 20px;
  transition: all 400ms linear 400ms;
}
.carte article .carte__validation:hover {
  max-width: 100%;
  width: 50px;
}
.carte article .carte__validation:hover .icone__validation {
  transform: rotateZ(360deg);
  color: white;
  transition: all 400ms linear 400ms;
}

/* Boutton commander */
button {
  border-radius: 25px;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  opacity: 0.8;
  color: white;
}
button .boutton {
  display: flex;
  justify-content: center;
}

/* pied de page */
footer {
  background-color: #272626;
  color: white;
  padding: 20px;
}
footer li {
  display: grid;
  grid-template-columns: 25px 1fr;
}
footer ul {
  padding: 0px;
}
footer a {
  color: white;
}

/*media tablette*/
@media screen and (min-width: 600px) {
  .boutton {
    grid-column: 2;
    justify-content: center;
    display: grid;
  }

  .carte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 15px;
  }

  .carte__titre {
    height: 20px;
  }

  .carte__menu {
    align-content: flex-start;
  }

  .conteneur_menu {
    border-radius: 15px 15px 0px 0px;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fonctionement nav ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
/*haut de page*/
body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  display: contents;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.logo img {
  width: 30%;
}

/* Barre de Recherche */
form {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 10px;
}
form input {
  border: none;
  background-color: #eaeaea;
}

/* Titre */
.bloc_titre {
  background-color: #f6f6f6;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}
.bloc_titre button {
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  padding: 10px;
  color: white;
}

h1, p {
  display: grid;
  justify-content: center;
  grid-template-columns: 70%;
  margin: 0px;
  padding: 10px;
}

/* Navigation */
.fonctionement {
  padding: 15px;
}
.fonctionement nav li {
  display: grid;
  grid-template-columns: 30px 30px 1fr;
  background-color: #f6f6f6;
  border-radius: 15px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
  counter-increment: fonction;
  margin-bottom: 10px;
}
.fonctionement nav li::before {
  content: counter(fonction);
  padding: 10px;
  background: #9356DC;
  border-radius: 80px;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  position: relative;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
}
.fonctionement nav li a {
  text-decoration: none;
  color: black;
  display: contents;
}
.fonctionement nav ol {
  gap: 10px;
  display: grid;
  padding: 15px;
  counter-reset: fonction;
}
.fonctionement nav li:hover {
  background-color: #f1e7fe;
}

/* Restaurants */
.conteneur_restaurants {
  display: grid;
  background-color: #f6f6f6;
  padding: 0px 15px 50px 15px;
}
.conteneur_restaurants .bloc_restaurants {
  display: grid;
  gap: 15px;
}
.conteneur_restaurants article {
  display: grid;
  background-color: white;
  grid-template-rows: 0fr 0fr;
  box-shadow: 15px 15px 15px #dbdada;
  border-radius: 15px;
}
.conteneur_restaurants img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
}

.carte_texte {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}
.carte_texte h3, .carte_texte span {
  margin: 0px;
}

@keyframes coeur2 {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.coeur {
  font-size: 1.1em;
  display: grid;
  justify-content: center;
  align-items: center;
}
.coeur__icone {
  color: black;
  margin-left: 20px;
  display: flex;
  font-size: 1.6em;
}
.coeur__icone:hover .plein {
  -webkit-animation: coeur2 600ms linear alternate both;
          animation: coeur2 600ms linear alternate both;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  color: transparent;
}
.coeur .vide {
  color: black;
  z-index: 1;
  cursor: pointer;
}
.coeur .plein {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

/* Pied de page */
footer {
  background-color: #272626;
  color: white;
  padding: 20px;
}
footer li {
  display: grid;
  grid-template-columns: 25px 1fr;
}
footer ul {
  padding: 0px;
}
footer a {
  color: white;
}

/* media tablette */
@media screen and (min-width: 600px) {
  .bloc_restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fonctionement nav ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .bloc_restaurants {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=main.css.map */