@-webkit-keyframes coeur2 {
  0% {
    transform: scale(0.1);
  }
  33% {
    transform: scale(0.3);
  }
  66% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes coeur2 {
  0% {
    transform: scale(0.1);
  }
  33% {
    transform: scale(0.3);
  }
  66% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
/* Haut de page */
body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: black;
  display: contents;
}

.header_page {
  display: grid;
  grid-template-columns: 0fr 1fr;
  justify-content: center;
  align-items: center;
}
.header_page .retour {
  font-size: x-large;
  color: black;
  padding: 15px;
}
.header_page .logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.header_page .logo img {
  width: 30%;
}
.header_page .header_page button {
  background-color: transparent;
  border: none;
  font-size: x-large;
}

/* Banniere */
.banniere img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Carte des menu */
@-webkit-keyframes anime_page_menu {
  0% {
    margin-top: -30px;
  }
  33% {
    margin-top: -50px;
  }
  66% {
    margin-top: -70px;
  }
  100% {
    margin-top: -90px;
  }
}
@keyframes anime_page_menu {
  0% {
    margin-top: -30px;
  }
  33% {
    margin-top: -50px;
  }
  66% {
    margin-top: -70px;
  }
  100% {
    margin-top: -90px;
  }
}
.conteneur_menu {
  background-color: #f6f6f6;
  padding: 15px;
  position: relative;
  margin-top: -30px;
  border-radius: 15px;
  -webkit-animation: anime_page_menu linear 1s 1s alternate;
          animation: anime_page_menu linear 1s 1s alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.conteneur_menu .menu {
  background-color: #f6f6f6;
  display: grid;
  gap: 15px;
  padding: 15px;
  border-radius: 25px 25px 0px 0px;
}

.titre_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coeur__titre {
  color: black;
  margin-left: 20px;
  display: grid;
  font-size: 1.6em;
}
.coeur__titre .vide {
  color: black;
  z-index: 1;
}
.coeur__titre .plein {
  position: absolute;
  z-index: 2;
  transform: scale(1);
  -webkit-animation: coeur2 1s ease-in-out 400ms both;
          animation: coeur2 1s ease-in-out 400ms both;
  background: text linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 600;
  color: transparent;
}

.titre_menu {
  border-bottom: 2px solid #99E2D0;
  width: 40px;
}

.menu article {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
}
.menu article .menu_texte {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu article h3 {
  margin: 0px;
}
.menu article p {
  margin: 0px;
}
.menu article span {
  display: flex;
  align-self: flex-end;
  padding-left: 5px;
}

/* Boutton commander */
button {
  border-radius: 25px;
  width: 150px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  opacity: 0.8;
  color: white;
}
button .boutton {
  display: flex;
  justify-content: center;
}

/* pied de page */
footer {
  background-color: #272626;
  color: white;
  padding: 20px;
}
footer li {
  display: grid;
  grid-template-columns: 25px 1fr;
}
footer ul {
  padding: 0px;
}
footer a {
  color: white;
}

/*media tablette*/
@media screen and (min-width: 600px) {
  .boutton {
    grid-column: 2;
    justify-content: center;
    display: grid;
  }

  .bloc_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 15px;
  }

  .titre_menu {
    height: 20px;
  }

  .menu {
    align-content: flex-start;
  }

  .conteneur_menu {
    border-radius: 15px 15px 0px 0px;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fonctionement nav ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}/*# sourceMappingURL=pages.css.map */