@font-face {
  font-family: shrikhand;
  src: url(font/Shrikhand/Shrikhand-Regular.otf);
}
@font-face {
  font-family: roboto;
  src: url(font/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(font/Roboto/Roboto-Bold.ttf);
}
@-webkit-keyframes anim_menu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes anim_menu {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes anim_carte {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes anim_carte {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
/* Haut de page */
body {
  margin: 0px;
  padding: 0px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  font-family: "shrikhand", sans-serif;
  font-family: "roboto-bold";
}
body a {
  text-decoration: none;
  color: black;
  display: contents;
}

.header_page {
  display: grid;
  grid-template-columns: 0fr 1fr;
  justify-content: center;
  align-items: center;
}
.header_page .retour {
  font-size: x-large;
  color: black;
  padding: 15px;
}
.header_page .logo {
  display: flex;
  justify-content: center;
  font-family: "shrikhand";
  margin-right: 35px;
  font-size: 2.5rem;
}

/* Banniere */
.banniere img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Carte des menu */
.conteneur_menu {
  background-color: #f6f6f6;
  padding: 15px;
  position: relative;
  margin-top: -30px;
  border-radius: 15px;
}
.conteneur_menu .titre_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "shrikhand";
}

.coeur__titre {
  color: black;
  margin-left: 20px;
  display: grid;
  font-size: 1.6em;
}
.coeur__titre .vide {
  color: black;
}
.coeur__titre .plein {
  position: absolute;
}
.coeur__titre:hover .plein {
  -webkit-animation: anim_coeur 600ms ease-in both;
          animation: anim_coeur 600ms ease-in both;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  color: transparent;
}

.carte {
  -webkit-animation: anim_menu 1s linear both;
          animation: anim_menu 1s linear both;
}
.carte .carte__menu {
  background-color: #f6f6f6;
  display: grid;
  gap: 15px;
  padding: 15px;
  border-radius: 25px 25px 0px 0px;
}
.carte .carte__titre {
  border-bottom: 2px solid #99e2d0;
  width: 40px;
}

.carte article {
  display: grid;
  grid-template-columns: 1fr 0.1fr 0fr;
  padding: 0px;
  background-color: white;
  border-radius: 15px;
  transform: scale(0);
  -webkit-animation: anim_carte 1s linear 1s both;
          animation: anim_carte 1s linear 1s both;
  margin: 0px;
}
.carte article .carte__validation {
  display: flex;
  grid-column: span 1;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  width: 0px;
  transition: all 400ms linear 400ms;
}
.carte article .carte__validation .icone__validation {
  color: transparent;
  font-size: 20px;
  transition: all 400ms linear 400ms;
}
.carte article:hover .carte__validation {
  width: 80px;
}
.carte article:hover .carte__validation .icone__validation {
  transform: rotateZ(360deg);
  color: white;
  transition: all 400ms linear 400ms;
}
.carte article .carte__texte {
  overflow: hidden;
  padding: 10px;
}
.carte article .carte__texte h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}
.carte article .carte__texte p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0px;
}
.carte article .carte__prix {
  display: flex;
  align-self: flex-end;
  padding-left: 5px;
  padding-bottom: 10px;
}

/* Boutton commander */
.boutton {
  display: flex;
  justify-content: center;
}
.boutton button {
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  color: white;
  font-weight: bold;
  font-size: 1em;
  transform: scale(1);
}
.boutton:hover {
  transform: scale(1.1);
  transition: all linear 400ms;
}

/* pied de page */
footer {
  background-color: #272626;
  color: white;
  padding: 20px;
}
footer h2 {
  font-family: "shrikhand";
}
footer li {
  display: grid;
  grid-template-columns: 25px 1fr;
}
footer ul {
  padding: 0px;
}
footer a {
  color: white;
}

/*media tablette*/
@media screen and (min-width: 600px) {
  .boutton {
    grid-column: 2;
    justify-content: center;
    display: grid;
  }

  .carte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 15px;
  }

  .carte__titre {
    height: 20px;
  }

  .carte__menu {
    align-content: flex-start;
  }

  .conteneur_menu {
    border-radius: 15px 15px 0px 0px;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fonctionement nav ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
/* animation loading spinner */
.container__anim__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 0.8;
  z-index: 15;
  -webkit-animation: animation__spiner 0s 1s forwards;
          animation: animation__spiner 0s 1s forwards;
}

/* Logo */
.container__anim__loading--logospinner {
  font-size: 1.8rem;
  font-family: "shrikhand";
  color: black;
  position: absolute;
}

/* Ligne circulaire violette */
.container__anim__loading--spinner {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top: 5px double #9356dc;
  -webkit-animation: spiner 2s linear infinite;
          animation: spiner 2s linear infinite;
}

.container__anim__loading--spinner::before,
.container__anim__loading--spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
}

/* Ligne circulaire rose */
.container__anim__loading--spinner::before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-top-color: #ff79da;
  -webkit-animation: spiner 1.8s linear infinite;
          animation: spiner 1.8s linear infinite;
}

/* Ligne circulaire vert clair */
.container__anim__loading--spinner::after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top-color: #99e2d0;
  -webkit-animation: spiner 1s linear infinite;
          animation: spiner 1s linear infinite;
}

@-webkit-keyframes animation__spiner {
  to {
    visibility: hidden;
    display: none;
  }
}

@keyframes animation__spiner {
  to {
    visibility: hidden;
    display: none;
  }
}
@-webkit-keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=pages.css.map */