.header_page{
    display: grid;
    grid-template-columns: 0fr 1fr ;
    justify-content: center;
    padding: 10px;
}
.logo img{
    width: 50%;
}
.logo{
    display: flex;
    justify-content: center;
}
.header_page button{
    background-color: transparent;
    border: none;
}
.banniere img{
    width: 100%;

}
.menu{
    background-color: rgb(246, 246, 246);
    display: grid;
    gap: 15px;
    padding: 15px;
    border-radius: 25px 25px 0px 0px;
}
.menu article{
    display: grid;
    grid-template-columns: 1fr 0.1fr ;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    
}
.menu article span{
    display: flex;
    align-items: flex-end;
}
.menu article p{
    margin: 0px;
}
.menu article h3{
    margin: 0px;
}
.menu h2{
    display: flex;
    justify-content: space-between;
}
.menu button{
    border-radius: 25px ;
    width: 150px;
    padding: 5px;
 
    background-color: #9356DC;
    color: white;

}
.boutton{
    display: flex;
    justify-content: center;
}
footer{
    background-color: rgb(39, 38, 38);
    color:white;
    padding: 20px;
    
}
footer li{
    display: grid;
    grid-template-columns: 0.1fr 1fr ;
}
footer ul{
    padding: 0px;
}