/*haut de page*/
body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  display: contents;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.logo img {
  width: 30%;
}

/* Barre de Recherche */
form {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 10px;
}
form input {
  border: none;
  background-color: #eaeaea;
}

/* Titre */
.bloc_titre {
  background-color: #f6f6f6;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}
.bloc_titre button {
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  padding: 10px;
  color: white;
}

h1, p {
  display: grid;
  justify-content: center;
  grid-template-columns: 70%;
  margin: 0px;
  padding: 10px;
}

/* Navigation */
.fonctionement {
  padding: 15px;
}
.fonctionement nav li {
  display: grid;
  grid-template-columns: 30px 30px 1fr;
  background-color: #f6f6f6;
  border-radius: 15px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-type: none;
  counter-increment: fonction;
  margin-bottom: 10px;
}
.fonctionement nav li::before {
  content: counter(fonction);
  padding: 10px;
  background: #9356DC;
  border-radius: 80px;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  position: relative;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
}
.fonctionement nav li a {
  text-decoration: none;
  color: black;
  display: contents;
}
.fonctionement nav ol {
  gap: 10px;
  display: grid;
  padding: 15px;
  counter-reset: fonction;
}
.fonctionement nav li:hover {
  background-color: #f1e7fe;
}

/* Restaurants */
.conteneur_restaurants {
  display: grid;
  background-color: #f6f6f6;
  padding: 0px 15px 50px 15px;
}
.conteneur_restaurants .bloc_restaurants {
  display: grid;
  gap: 15px;
}
.conteneur_restaurants article {
  display: grid;
  background-color: white;
  grid-template-rows: 0fr 0fr;
  box-shadow: 15px 15px 15px #dbdada;
  border-radius: 15px;
}
.conteneur_restaurants img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
}

.carte_texte {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}
.carte_texte h3, .carte_texte span {
  margin: 0px;
}

.icone_coeur {
  display: grid;
  justify-content: center;
  align-items: center;
}
.icone_coeur a {
  color: black;
}

.fab, .far:hover {
  font-weight: 600;
  color: #d06adb;
}

/* Pied de page */
footer {
  background-color: #272626;
  color: white;
  padding: 20px;
}
footer li {
  display: grid;
  grid-template-columns: 25px 1fr;
}
footer ul {
  padding: 0px;
}
footer a {
  color: white;
}

/* media tablette */
@media screen and (min-width: 600px) {
  .bloc_restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .fonctionement nav ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .bloc_restaurants {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
