.coeur {
    font-size: 1.1em;
    display: grid;
    justify-content: center;
    align-items: center;
    &__icone {
        color: black;
        margin-left: 20px;
        display: flex;
        font-size: 1.6em;
      
        &:hover .plein {
            animation: anim_coeur 600ms linear alternate both;
            background: $color-degrad;
            -webkit-background-clip: text;
            -o-background-clip: text;
            -moz-background-clip: text;
            font-weight: 600;
            color: transparent;
        }
        .vide {
            color: black;
            z-index: 1;
            cursor: pointer;
           
        }
        .plein {
            position: absolute;
            z-index: 2;
            cursor: pointer;
            animation: anim_coeur2 600ms linear alternate both;
        }
    }
}
