/* Police*/

@font-face {
    font-family: shrikhand;
    src: url(font/Shrikhand/Shrikhand-Regular.otf);     
}

@font-face {
    font-family: roboto;
       src:  url(font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(font/Roboto/Roboto-Regular.ttf);
}