/* media tablette page d'acceuil */
@media screen and (min-width: 600px) {
    .bloc_restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer h2 {
        display: flex;
        justify-content: center;
    }
    footer ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .fonctionement nav ol {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}
@media screen and (min-width: 1200px) {
    .bloc_restaurants {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/*media tablette page restaurants */
@media screen and (min-width: 600px) {
    .boutton {
        grid-column: 2;
        justify-content: center;
        display: grid;
    }
    .carte {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    .carte__titre {
        height: 20px;
    }
    .carte__menu {
        align-content: flex-start;
    }
    .conteneur_menu {
        border-radius: 15px 15px 0px 0px;
    }

    .fonctionement nav ol {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}
@media screen and (min-width: 1024px) {
    .carte {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 15px;
        width: auto;
    }
}
