
// variable 

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-fond-primary:rgb(246, 246, 246);
$color-fond-secondary:rgb(234, 234, 234);
$color-degrad:linear-gradient(to bottom, $color-secondary, $color-primary);
$color: #d06adb;
$color-text-primary: #ffff;
$font-bold: 'roboto-bold';
