/* Pied de page */
footer {
    background-color: rgb(48, 46, 46);
    color: $color-text-primary;
    padding: 20px;
    h2 {
        font-family: "shrikhand";
    }

    li {
        display: grid;
        grid-template-columns: 0fr 1fr;
        gap: 10px;
        white-space: nowrap;
    }
    ul {
        padding: 0px;
    }
    a {
        color: $color-text-primary;
    }
    .rot {
        transform: rotate(-30deg);
    }
}
