/*haut de page*/
body
{
    margin: 0px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'shrikhand';
    font-family: 'roboto-bold';
}
a 
{
    text-decoration: none;
    color: black;
    display: contents;
}
.logo
{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'shrikhand';
    font-size: 3rem;
   
}
   
/* Barre de Recherche */
form
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-fond-secondary;
    padding: 10px;
    border-top: 1px inset #ffffff;
    label{
        font-size: small;
        margin-right: 10px;
    }
    input{
        border: none;
        background-color: transparent;
        
        ::placeholder{
            color: black;
        }
    }
}
/* Titre */

.bloc_titre
{
    background-color:$color-fond-primary;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    @include boutton;
h1, p 
{
    display: grid;
    justify-content: center;
    grid-template-columns: 70%;
  
}
}