/*haut de page*/

.logo h1 {
    text-align: center;
    padding: 5px;
    font-family: "shrikhand";
    font-size: 2.5rem;
    margin: 0px;
}

/* Titre */

.bloc_titre {
    background-color: $color-fond-primary;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    .titre {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        h1 {
            font-family: "roboto-bold";
        }
        p {
            color: #838181;
        }
    }
}
