/* Restaurants */

.conteneur_restaurants {
    display: grid;
    background-color: $color-fond-primary;
    padding: 25px 15px 50px 15px;
    h2 {
        font-family: $font-bold;
    }
    .bloc_restaurants {
        display: grid;
        gap: 15px;
    }
    article {
        display: grid;
        background-color: white;
        grid-template-rows: 0fr 0fr;
        box-shadow: 15px 15px 15px rgb(219, 218, 218);
        border-radius: 15px;
        position: relative;
        &:hover {
            transition: all linear 400ms;
            transform: scale(1.02);
        }
    }
    img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0px 0px;
    }
    .etiquette_nouveau {
        background-color: $color-tertiary;
        color: #15a782;
        font-family: $font-bold;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px 5px 10px;
    }
}
.carte_texte {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    h3 {
        margin: 0px;
        font-family: "roboto-bold";
    }
    span {
        margin: 0px;
    }
}
